@import '../utils/utils.scss';

.exchange {
  //centering exchange component
  height: 50%;
  width: 50%;
  margin: 0 auto;
  margin-top: 15%;
  //centering items
  display: flex;
  align-items: center;
  flex-direction: column;

  @include desktop {
    height: 70%;
    width: 70%
  }

  @include tablets {
    height: 90%;
    width: 90%;
  }

  &__title {
    @include title;
  }

  &__selections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include tablets {
      flex-direction: column;
      margin-bottom: 30px;
    }

    &__select {
      width: 49%;

      @include tablets {
        margin: 0;
        margin-bottom: 30px;
        width: 100%;
      }

      &__title {
        @include description;
        margin-left: 5px;
      }

      &__body {
        width: 100%;
        @include subtitle;
        border: 0;
        border-bottom: solid 1px rgba(128, 128, 128, 0.5);
      }

      &__option {
        &:hover {
          box-shadow: 0 0 10px 100px orange inset;
        }
      }
    }
  }

  &__inputs {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__input {
      width: 49%;
      height: 100%;
      @include currency-input;
      @include tablets {
        margin: 0;
      }
    }
  }

  &__swap-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 70px;

    @include tablets {
      flex-direction: column;
      align-items: center
    }

    &__button {
      width: 50%;
      height: 60px;
      @include swap-button;

      @include tablets {
        margin: 0;
        width: 100%;
      }
    }

    &__info-block-container {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      @include tablets {
        width: 100%;
      }

      &__info-block {
        @include tablets {
          margin-top: 40px
        }
        &__title {
          @include description;
          line-height: 20px;
        }

        &__value {
          @include subtitle;
        }
      }
    }
  }
}
